#### Multiply 10 with 5, and print the result.

In [77]:
5*10

50

### Divide 10 by 2, and print the result.

In [78]:
10/2

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [89]:
fruits=["orange","grapes","apple","mango"]
"apple" in fruits

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [80]:
5!=10

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [81]:
True or False

True

### Print the second item in the fruits list.

In [82]:
fruits[1]

'grapes'

### Change the value from "apple" to "kiwi", in the fruits list.

In [90]:
i=fruits.index("apple")
fruits[i]="kiwi"
fruits

['orange', 'grapes', 'kiwi', 'mango']

### Use the append method to add "orange" to the fruits list.

In [91]:
fruits.append("orange")
fruits

['orange', 'grapes', 'kiwi', 'mango', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [92]:
fruits.insert(1,"lemon")
fruits

['orange', 'lemon', 'grapes', 'kiwi', 'mango', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [93]:
fruits.remove("orange")
fruits

['lemon', 'grapes', 'kiwi', 'mango', 'orange']

### Use negative indexing to print the last item in the list.

In [94]:
fruits[-1]

'orange'

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [97]:
fruits[2:6]

['kiwi', 'mango', 'orange']

### Use the correct syntax to print the number of items in the list.

In [98]:
len(fruits)

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

In [99]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]
while numbers[i]!=237 and i<len(numbers)-1:
    if numbers[i]%2==0:
        print(numbers[i])
    i+=1

418
344
236
566
978
328
162
758
918

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [100]:
h=float(input("Enter Height  "))
b=float(input("Enter Base  "))
area=0.5*b*h
print(f"Area={area}")

Area=12.5

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [101]:
h1=int(input("Enter First number  "))
h2=int(input("Enter Second number  "))
h3=int(input("Enter Third number  "))
max=max(h1,h2,h3)
min=min(h1,h2,h3)
middle=h1+h2+h3-max-min

print(f"Max number is {max}")
print(f"Middle number is {middle}")
print(f"Min number is {min}")

Max number is 20
Middle number is 10
Min number is 3

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [106]:
x=int(input("Enter count "))
z=[0]*x
for i in range(x):
    z[i]=int(input("Enter number"))
    print(z[i],end="")
print("\n")
#############################################    
d=set(z)
if len(d)!=len(z):
    print("Duplicates exist")
else:
    print("No duplicates")
#############################################   
flag=True
for i in range(x-1):
    for j in range(i+1,x):
        if z[i] == z[j]:
            flag=False
            break
    if flag==False:
        break
if flag:
    print("No duplicates")
else:
    print("Duplicates exist")

121

Duplicates exist
Duplicates exist

#### Dictionary

In [1]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

### Filter the negative values from given dictionary

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [13]:
x={'A':1,'B':2,'C':3}

print(8 in x.values())
print(2 in x.values())

False
True

### Calculate the sum of all numbers from 0 to a given number

In [5]:
sum=0
x=int(input("Enter Number"))
for i in range(x+1):
    sum+=i
print(f"Sum until {x} is equal to {sum}. \"{x}\" is included")

Sum until 5 is equal to 15. "5" is included

### Find the factorial of a given number using while loop

In [6]:
def factorial(x):
    if x==0 or x==1:
        return 1
    else:
        return x*factorial(x-1)
    
    
factorial(5)

120

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

In [20]:
from sys import stdout

In [29]:
x= [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(x),2):
    print(x[i], end=" ")

20 40 60 80 100

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

### Calculate the cube of all numbers from 1 to a given number

In [32]:
sum=0
x=int(input("Enter Number"))
for i in range(1,x+1):
    print(f"The cube of {i} is ",i**3)

The cube of 1 is  1
The cube of 2 is  8
The cube of 3 is  27
The cube of 4 is  64
The cube of 5 is  125

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [43]:
vowels={'a','o','u','i','e'}
word="Mahmoud Ahmed Rady"
c=0
for letter in word.lower():
    if letter in vowels:
        c+=1
c

6


### Write a Python program to add an item to a tuple.

In [37]:
x=(1,2,3,4)
x=x+(5,)
x

(1, 2, 3, 4, 5)

### Write a Python program to multiply all the items in a list.

In [44]:
product=1
arkam=[1,2,3,4,5]
for rakam in arkam:
    product*=rakam
print(f"Product of items in the list is equal to {product}")

Product of items in the list is equal to 120

### Write a Python program to get the smallest number from a list.

In [46]:
x=[33,44,55,66,77,88,99,2]
min(x)

2

### Write a Python program to get the largest number from a list.

In [47]:
x=[33,44,55,66,77,88,99,2]
max(x)

99

### Write a Python program to clone or copy a list

In [48]:
x=[33,44,55,66,77,88,99,2]
y=x.copy()
y

[33, 44, 55, 66, 77, 88, 99, 2]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [52]:
s = set([0, 1, 3, 4, 5])
s.remove(4)
s

{0, 1, 3, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [55]:
print(f"max={max(s)} , min={min(s)}")

max=5 , min=0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [60]:
tuple1 = ("name", "age", "city","city")
dict1=dict(enumerate(tuple1))
dict1

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [76]:
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
z=[]*3
for i in range(3):
    y=[0]*3
    for j in range(3):
        if j==2:
            y[j]=100
        else:
            y[j]=x[i][j]
    z.append(tuple(y))

z

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]